:root{
  --primary: #FFFF;
  --text-secondary: #131416;
  --black-opacity: rgba(0, 0, 0, 0.486);
  --grey: rgb(71, 71, 71);
}

*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Lexend Zetta';
  src: url('./assets/fonts/Lexend_Zetta/LexendZetta-VariableFont_wght.ttf');
}


body{
  background-image: url('./assets/wallpaper2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: auto;
}
body::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.116); /* Noir avec 30% d'opacité */
  pointer-events: none; /* Assure que le pseudo-élément ne bloque pas les clics */
}


/* design par defaut des liens */
a{
  display: block;
  text-decoration: none;
}


/* Les boutons classiques */
.btn{
  background: none;
  padding: 4px;
  border: 1px solid var(--primary);
  border-radius: 4px 4px;
  color: var(--primary);
  backdrop-filter: blur(10px);
}
.btn:hover{
  background-color: var(--primary);
  color: var(--text-secondary);
}

/* La couleurs des inputs de type range
input[type="range"]::-webkit-slider-thumb{
  background-color: red;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
}

input[type='range']::-moz-progress-bar{
  background-color: green;
} */